registry = http://127.0.0.1:4873
link-workspace-packages = true
shared-workspace-lockfile = false
# peer dependencies to be automatically installed
auto-install-peers=true
strict-peer-dependencies=false