.arc-base-box, .arc-base-layout {
  background-color: var(--arc-base-box-bg-color);
  background-image: var(--arc-base-box-bg-image);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
